* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f2eb;
    padding: 16px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Logo và thông tin tiêu đề */
.heading-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.heading-title__logo {
    width: 24%;
    height: 100%;
    padding-left: 40px;
}

.heading-title_information {
    text-align: right;
}

.heading-title_information-number {
    font-size: 24px;
    font-weight: 500;
}

.heading-title_information-navbar li, 
.navigation li {
    list-style: none;
    display: inline-block;
    font-weight: 700;
}

.heading-title_information-navbar li {
    padding: 8px;
}

.heading-title_information-navbar li,
.navigation {
    border-radius: 8px;
}

.heading-title_information-navbar li a,
.navigation li a {
    text-decoration: none;
    color: #477a47;
}

.heading-title_information-navbar li:hover,
.navigation {
    background: linear-gradient(#6ab953, #1a8b2a);
    border: 1px solid #40822e;
}

.heading-title_information-navbar li:hover a,
.navigation li a {
    color: #f5f2eb;
}

.navigation {
    margin-top: 16px;
}

.navigation li {
    margin: 0 54px;
    padding: 16px 32px;
}

.navigation li:hover {
    background-color: #f5f2eb;
}

.navigation li:hover a {
    color: #45b038;
}

.content {
    width: 100%;
    display: flex;
    background-color: #fff;
    margin-top: 40px;
}

.main-content {
    width: 80%;
}

.content-slider {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.content-slider__infor {
    background-color: #000;
    color: #fff;
    padding-left: 12px;
}

.content-slider__infor-title {
    font-size: 30px;
    padding: 8px 0;
}
